:root {
  --cor1: #0F79AF; 
  --cor2: #918E83;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E1018;
  color: var(--cor2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.2rem;
}

.header {
  background-color: #0e101375 !important;
  backdrop-filter: blur(2px);
}

.header .link {
  font-weight: 600;
  padding: "0 15px";
}

.header a, .footer a {
  color: whitesmoke;
  margin: 0 10px;
}

.header a:hover, .footer a:hover {
  color: var(--cor1);
}

.header .logo:hover, .footer .logo:hover {
  transition: 1s;
  transform: rotate(1080deg);
}

#home {
  height: 110vh;
  background-image: url(../public/Picsart_22-07-16_17-23-45-813.png);
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}

#home .content {
  padding-top: calc(110vh / 3);
  background-image: url(../public/Group.png);
  background-blend-mode: hard-light;
  background-size: auto 80%;
  background-position: left top;
  background-repeat: no-repeat;
}

#home .content .welcome {
  color: whitesmoke;
  background-image: linear-gradient(to right, #002a53, var(--cor1));
  padding: 10px;
  width: 250px;
  text-align: center;
  margin: 10px 0;
  display: block;
  border: .2px solid whitesmoke;
  border-radius: 4px;
  text-transform: uppercase;
}

#home .contentImage .float1, .float2 {
  background: var(--cor1);
  color: white;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

#home .contentImage .float1 {
  top: 470px;
  right: -50px;
}

#home .contentImage .float2 {
  top: 20px;
  right: -450px;
}

#home a {
  text-decoration: none;
}

#home .contentImage .float1:hover, #home .contentImage .float2:hover {
  transition: .4s;
  transform: translateY(-10px);
  cursor: pointer;
}

#skills {
  background: url(../public/wp8855495-hackerman-wallpapers.jpg);
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.712);
  background-size: 100%;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills img {
  background: #1B1D20;
  border-radius: 4px;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}

#skills .content img {
  margin: 5px;
}

#sobre {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/Group.png);
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#projects {
  height: 110vh;
  background: url(../public/wp8855495-hackerman-wallpapers.jpg);
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.712);
  background-size: 100%;
  height: 110vh;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#projects .play {
  display: none;
}

#projects img.tv {
  width: 80%;
  margin: auto;
}

#contact {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/Group\ 153.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

#contact a {
  color: var(--cor1);
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

#contact .input { 
  border: 3px solid gray;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color: whitesmoke !important;
  padding: 12px 0;
  text-indent: 12px;
  width: 100%;
  margin: 5px 0;
  transition: .5s;
}

#contact .input:focus {
  border: 3px solid var(--cor1);
}

#contact .button {
  border: 3px solid var(--cor1);
  font-weight: 550;
  color: var(--cor1);
}

@media (max-width: 500px) {
  #home {
    width: 100vw;
    height: auto;
    background-size: 300px;
    background-position: top;
  }
  #home .contentImage {
    height: 60vh;
    background-size: 100% auto;
    background-position: top;
  }
  #home .content {
    padding-top: 0;
    height: 60vh;
  }
  #home .content .welcome {
    padding: 15px 0;
    margin-top: 0;
    width: 100%;
  }
  #home .contentImage .float1, #home .contentImage .float2 {
    display: none;
  }
  #skills {
    padding: 5rem 0;
  }
  #skills, #projects {
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  #sobre {
    background-size: 80%;
    padding: 5rem 0;
  }
  #contact {
    background-size: auto 100vh;
    background-position: top;
  }
  #contact .input {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}